body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Import external CSS libraries or frameworks */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Import your custom CSS files */
@import url('./styles/attendancehistory.css');
@import url('./styles/attendancemarking.css');
@import url('./styles/classsection.css');
@import url('./styles/dashboard.css');
@import url('./styles/login.css');
@import url('./styles/notification.css');


